<template>
    <template if:true={isComponentDetailsShown}>
        <lightning-card
            icon-name={iconName}
        >
            <span slot="title">{cardName}</span>
            <lightning-button-icon
                icon-name="utility:expand_alt"
                slot="actions"
                onclick={handleNavigateToRecord}
            ></lightning-button-icon>
            <div class="slds-p-left_small slds-p-right_small">
                <template if:true={dataReceived}>
                    <lightning-record-form
                            record-type-id={recordTypeId}
                            mode={mode}
                            record-id={recordId}
                            object-api-name={objectApiName}
                            fields={fields}
                            columns={columns}>
                    </lightning-record-form>
                </template>
            </div>
        </lightning-card>
    </template>
</template>