.coloredTableRow{
    background-color: red;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	right: 0;
	overflow-x: hidden;
	background-color: white;
	transition: 0.5s;
	width: 25%;
	position: absolute;
	top: 0;
}

.sidenav:focus {
    outline: none;
}