<template>
    <lightning-spinner if:true={isLoading} alternative-text="Loading" size="medium"></lightning-spinner>
    <template if:true={currentPayloadRequestId}>
        <c-investors-list-popover record-id={currentPayloadRequestId} top={currentPayloadTop} left={currentPayloadLeft}>
        </c-investors-list-popover>
    </template>
    <div class="slds-page-header slds-page-header_object-home slds-m-bottom_medium" style="background-color: white;">
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="standard:opportunity" size="medium"></lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1>
                                    <span>Opportunity</span>
                                    <span class="slds-page-header__title slds-truncate" title={name}>{name}</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-page-header__col-actions">
                <div class="slds-page-header__controls">
                    <div class="slds-page-header__control">
                        <lightning-button variant="brand" label={label.investorsReport} title={label.investorsReport}>
                        </lightning-button>
                        <c-navigate-to-button class="slds-p-left_small" label={label.toSelection} record-id={recordId} tab-name="InvestorSelection" nav-type="standard__navItemPage"></c-navigate-to-button>
                        <c-navigate-to-button class="slds-p-left_small" label={label.back} record-id={recordId} nav-type="standard__recordPage"></c-navigate-to-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <lightning-card class="slds-p-bottom_large" style="padding: 0px 6px 20px 6px;">
        <div class="slds-grid slds-gutters" style="padding: 0px 6px 20px 6px;vertical-align: bottom">
            <div class="slds-col slds-size_3-of-4">
                <lightning-button-menu onselect={handleOnselect} disabled={disableAllMassEditButtons} label="Update">
                    <lightning-menu-item value="prioUpdate" label={label.prioUpdate}></lightning-menu-item>
                    <lightning-menu-item value="advisorUpdate" label={label.advisorUpdate}></lightning-menu-item>
                    <lightning-menu-item value="statusUpdate" label={label.statusUpdate}></lightning-menu-item>
                    <lightning-menu-item value="approvalUpdate" label={label.approvalUpdate}></lightning-menu-item>
                    <lightning-menu-item value="approvalUpdateReject" label={label.approvalUpdateReject}></lightning-menu-item>
                    <lightning-menu-item value="underbidders" label={label.underbidders}></lightning-menu-item>
                </lightning-button-menu>
                <lightning-button style="text-align: right" slot="actions" label={label.removeFromSelection} title={label.removeFromSelection} onclick={removeFromSelection} disabled={disableAllMassEditButtons} class="slds-m-left_x-small"></lightning-button>
<!--				us2402-->
                <lightning-button style="text-align: right" slot="actions" label={label.newMailing} title={label.newMailing} onclick={handleNewMailingClick}  class="slds-m-left_x-small" disabled={disableAllMassEditButtons}></lightning-button>
				<lightning-button style="text-align: right" slot="actions" label={label.existingMailing} title={label.existingMailing} onclick={handleExistingMailingClick}  class="slds-m-left_x-small" disabled={existingMailingDisabled}></lightning-button>
            </div>
        </div>
            <div class="slds-col slds-size_1-of-4" style="text-align: right"></div>

        <div class="slds-grid slds-gutters" style="padding: 0px 6px 20px 6px;">
            <div class="slds-col slds-size_3-of-12">
                <lightning-input type="search" placeholder={label.searchPlaceholder} onchange={handleKeyChange} value={searchKey} data-field="account-filter" variant="label-hidden"></lightning-input>
            </div>
<!--			US1911-->
			<div class="slds-col slds-size_2-of-12">
				<c-autocomplete-combobox
						object-and-field-api-name="AccountToOpportunity__c.Priority__c"
						record-type-id={defaultRecordTypeId}
						icon-name="standard:account"
						onchange={handlePriorityChange}
						placeholder={label.priorityFilterPlaceholderLabel}
				></c-autocomplete-combobox>
			</div>
			<div class="slds-col slds-size_2-of-12">
				<c-lookup
						field-api-name={advisorField.apiName}
						object-api-name={advisorField.objectApiName}
						onsearch={handleAdvisorLookupSearch}
						onselectionchange={handleAdvisorFilterChanged}
						label={label.emailTemplateENLabel}
						is-multi-entry={advisorField.isMultiEntry}
						data-id="advisorFilter"
						invalid-message={label.newMailingSelectedTemplateNotValidLabel}
						disabled={disableFormEditing}
						variant='label-hidden'
							placeholder={label.advisorFilterPlaceholderLabel}
				>
				</c-lookup>
			</div>
			<div class="slds-col slds-size_2-of-12">
				<c-autocomplete-combobox
						object-and-field-api-name="AccountToOpportunity__c.Status__c"
						record-type-id={defaultRecordTypeId}
						icon-name="standard:account"
						onchange={handleStageChange}
						placeholder={label.statusFilterPlaceholderLabel}
				></c-autocomplete-combobox>
			</div>
            <div class="slds-col slds-size_1-of-12">
                <lightning-button label={label.resetFilter} title={label.resetFilter} onclick={handleResetFilter} disabled={resetFilterDisabled}>
                </lightning-button>
            </div>
        </div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_8-of-8">
                <div style={tableStyle}>
                    <c-investors-list-datatable 
                        data={records} 
                        columns={columns} 
                        onsort={handleSortData} 
                        onpinrow={handlePinRow} 
                        onactionbutton={handleRowAction} 
                        ondetailsbutton={handleShowdetails} 
                        sorted-by={sortBy} 
                        sorted-direction={sortDirection} 
                        onrowselection={handleRowSelection} 
                        key-field="Id"
                        enable-infinite-loading
                        onloadmore={loadMoreDataRecords}
                        is-loading={dataTableIsLoading}
                        wrap-text-max-lines="1"
                        show-row-number-column>
                    </c-investors-list-datatable>
                </div>
            </div>

            <template if:true={showOpenbutton}>
                <lightning-icon icon-name="utility:chevronleft" alternative-text="open" style="float:right" onclick={openPanel}></lightning-icon>
            </template>

            <template if:true={showSidebar}>
				<div id="sidenav" class="sidenav" tabindex="0" onkeyup={handleKeyPress}>
					<div class="slds-grid slds-gutters">
						<div class="slds-size_1-of-12">
							<lightning-icon icon-name="utility:close" alternative-text="open" style="padding-left:5px;padding-top: 5px; padding-left: 10px;" size="small" onclick={closePanel}></lightning-icon>
						</div>
						<div class="slds-col slds-size_11-of-12" >
							<c-investors-list-side-panel selected-record-id={selectedRecordId}
														 account-id={accountId}
														 opportunity-id={recordId}
														 oncontactschanged={refreshTable}
														 onactionbutton={handleRowAction}></c-investors-list-side-panel>
						</div>
					</div>
				</div>
            </template>

        </div>
    </lightning-card>
    <c-investors-list-activity-modal onactivitycreated={handleActivityCreated}>
    </c-investors-list-activity-modal>
    <c-investors-list-delete-modal oninvestorsdeleted={handleInvestorsDeleted}>
    </c-investors-list-delete-modal>
    <c-investors-list-state-modal oninvestorsupdated={handleRefreshInvestors}>
    </c-investors-list-state-modal>
    <c-investors-list-priority-modal oninvestorsupdated={handleRefreshInvestors}>
    </c-investors-list-priority-modal>
    <c-investors-list-advisor-modal oninvestorsupdated={handleRefreshInvestors}>
    </c-investors-list-advisor-modal>
    <c-investors-list-underbidders-modal></c-investors-list-underbidders-modal>
	<c-investors-list-new-mailing-modal records={records}
                                        opportunity-id={recordId}>
	</c-investors-list-new-mailing-modal>

	<c-investors-list-existing-mailing-modal records={records} ></c-investors-list-existing-mailing-modal>
</template>