.THIS .grouping {
    background-color: lightgray;
}

.THIS .totalgrouping TD {
    border-top: 1px solid gray;
}
.THIS .sortButton button {
    border: none;
}

.THIS .slds-text-title_caps th {
	cursor: pointer;
}

.THIS .slds-text-title_caps th:hover {
	background-color: rgba(211, 210, 210, 0.87);
}