<template>
    <template if:true={renderComponent}>
        <lightning-card>
            <lightning-spinner if:true={isLoading} alternative-text="Loading" size="medium"></lightning-spinner>
            
            <lightning-layout multiple-rows="true">
                <lightning-layout-item size="4" padding="horizontal-small">
                    <lightning-input
                        data-id="searchinput"
                        label={label.searchDescription}
                        type="search"
                        onkeyup={keyUpHandler}
                        placeholder={searchPlaceholderLabel}
                        onchange={handleInputChange}
                        class="slds-m-bottom_small">
                    </lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="8" padding="horizontal-small">
                    <lightning-button
                        variant="brand"
                        label={addRelationLabel}
                        class="slds-float_right slds-m-bottom_small"
                        onclick={openModalWindow}
                        disabled={isDisabled}>
                    </lightning-button>
                </lightning-layout-item>
                
                <lightning-layout-item size="12" padding="horizontal-small">
                    <!-- <template if:true={isDataReady}> -->
                        <div style="height: 300px;">
                            <c-related-objects-data-table
                                hide-checkbox-column
                                key-field="Id"
                                data={tableData}
                                columns={columns}
                                ondeleterelation={handleDeleteRelation}
                                onrecordselect={rowSelectionHandler}>
                            </c-related-objects-data-table>
                            <!-- <c-related-objects-data-table
                                hide-checkbox-column
                                key-field="Id"
                                data={tableData}
                                columns={columns}
                                onsort={handleSortData}
                                ondeleterelation={handleDeleteRelation}
                                onrecordselect={rowSelectionHandler}>
                            </c-related-objects-data-table> -->
                        </div>
                    <!-- </template> -->

                </lightning-layout-item>
            </lightning-layout>
        </lightning-card>

        <c-related-objects-confirm-modal
            onrecordsupdate={handleRecordsUpdate}>
        </c-related-objects-confirm-modal>
    </template>
</template>