<template>
    <div style="text-align: center;">
        <c-investors-list-view-all-activities-table-action
            activity-id={value}
            action={typeAttributes.action}
        ></c-investors-list-view-all-activities-table-action>

    </div>
</template>