<template>
    <select name="access" class="slds-input slds-combobox__input" onchange={handlePriorityChange}>
        <option value=""></option>
        <option selected={selectedA} value="A">A</option>
        <option selected={selectedB} value="B">B</option>
        <option selected={selectedC} value="C">C</option>
        <!-- <option selected={selectedZ} value="Z">Z</option> -->
    </select>
</template>