<template>
    <template if:true={rendered}>
        <select name="access" class="slds-input slds-combobox__input" onchange={handleStatusChange}>
            <option selected={emptyValueSelected}></option>
            <template for:each={_underbidderValues} for:item="option">
                <option key={option.label} value={option.value} selected={option.isSelected}>{option.label}</option>
            </template>
        </select>
    </template>
</template>