<template>
    <div style="text-align: center;">
        <lightning-button-icon
            size="small"
            variant="bare"
            icon-name={pinnedClass}
            onclick={firePinRow}>
        </lightning-button-icon>
    </div>
</template>