/**
 * Created by napo on 3/11/20.
 */
 .slds-scrollable_y, .slds-scrollable--y {
     overflow:visible !important;
     overflow-y: visible !important;
 }
.slds-scrollable_x, .slds-scrollable--x {
  overflow:visible !important;
  overflow-x: visible !important;
}

* {
    overflow:visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
}