<template>
    <lightning-tabset>
        <lightning-tab label="Properties" onactive={handleActiveTab}>
            <c-tile-list
            tiles={tileList}
            total-item-count={totalItemCount}
            onpagechange={handlePageChange}>
            </c-tile-list>
        </lightning-tab>
        <lightning-tab label="Map" onactive={handleActiveTab}><!--onactive={handleActive}-->
                <c-property-map
                    markers={markers}
                ></c-property-map>
        </lightning-tab>
    </lightning-tabset>
</template>