<template>
    <template if:true={picklistValues.data}>
        <lightning-combobox
            value={selectedValue}
            options={_picklistValues}
            placeholder={label.generalLabelSelectAnOption}
            label={label.status}
            onchange={handleComboboxChange}
        ></lightning-combobox>
    </template>
</template>