<template>
    <template if:true={showModal}>
            <section role="dialog" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container" style="width: 240px">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title={label.close} onclick={closeModal}>
                            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                            <span class="slds-assistive-text">{label.close}</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">{label.underbidders}</h2>
                    </header>

                    <div class="slds-modal__content slds-p-around_medium slds-scrollable_y" style="min-height: 300px">
                        <template if:true={recordsToUpdate.length}>
                            <p class="slds-p-vertical--small">{label.updatableUnderbiddersLabel}</p>
                            <ul class="slds-scrollable_y" style="max-height: 170px">
                                <template for:each={recordsToUpdate} for:item="item">
                                    <li key={item.Id}>{item.Account__r.Name}</li>
                                </template>
                            </ul>
                        </template>
                        <template if:true={notUpdatableRecords.length}>
                            <p class="slds-p-top--medium slds-p-bottom--small">{label.notUpdatableUnderbiddersLabel}</p>
                            <ul class="slds-scrollable_y" style="max-height: 85px">
                                <template for:each={notUpdatableRecords} for:item="item">
                                    <li key={item.Id}>{item.Account__r.Name}</li>
                                </template>
                            </ul>
                        </template>
                    </div>

                    <footer class="slds-modal__footer">
                        <lightning-button data-id="closeButton" label={label.cancel} title={label.cancel} onclick={handleCancel} style="padding-right: 12px"></lightning-button>
                        <lightning-button data-id="deleteButton" label={label.save} title={label.save} onclick={updateUnderbidders} variant="brand"></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>