<template>
    <div style="text-align: center;">
        <c-investors-list-priority-picklist row-id={value} priority={typeAttributes.priority}>
        </c-investors-list-priority-picklist>
    </div>
</template>