<template>
	<lightning-spinner
		if:true={isLoading}
		alternative-text="Loading"
		size="medium"
	></lightning-spinner>
<!-- class="slds-scrollable" style="height: 600px" -->
	<div >
		<div class="slds-grid slds-grid_align-end">
			<div class="slds-col">
				<div class="slds-form-element">
					<label class="slds-checkbox_toggle slds-grid">
						<span class="slds-form-element__label slds-m-bottom_none">Already in Investor List</span>
							<input type="checkbox" name="checkbox-toggle-16" value="checkbox-toggle-16" aria-describedby="checkbox-toggle-16" onclick={toggleSelectedRecords} />
							<span id="checkbox-toggle-16" class="slds-checkbox_faux_container" aria-live="assertive">
							<span class="slds-checkbox_faux"></span>
							<span class="slds-checkbox_on">Showed</span>
							<span class="slds-checkbox_off">Hidden</span>
						</span>
					</label>
				</div>
			</div>
		</div>

		<!-- SELECTED RECORDS TABLES STARTS-->
		<template if:true={displaySelectedItemsTable}>
			
			<template if:true={displayHelpMessage}>     
				<lightning-layout multiple-rows="true">
					<lightning-layout-item size="12">
							<c-inline-message message={label.generalLabelNoRecordsFound}></c-inline-message>
					</lightning-layout-item>
				</lightning-layout>
			</template>

			<div>
				
				<template if:true={showSelectedInvestorWithoutContacts}>
					<div class="slds-text-heading_medium">
						{label.selectedAccountsHeading}
					</div>
					<div style="height: 150px">
						<c-investor-selection-selected-contacts-table
							key-field="id"
							data={selectedInvestorWithoutContacts}
							columns={investorColumns}
							hide-checkbox-column
							sorted-by={sortedBySelectedDataInvestor}
							sorted-direction={sortedDirection}
							ondeleteclick={handleDeleteClick}
							ondetailsbutton={showInvestorWithoutContactsRowData}
							onsort={sortSelectedInvestorWithoutContacts}
							onloadmore={loadMoreSelectedInvestors}
							is-loading={selectedAccountsLoading}
							show-row-number-column
							enable-infinite-loading>
						</c-investor-selection-selected-contacts-table >
					</div>
		
					<div class="slds-m-bottom_large" style="height: 1px;"></div>
				</template>

				<template if:true={showSelectedInvestorWithContacts}>
					<div class="slds-text-heading_medium">
						{label.selectedContactsHeading}
					</div>
					<div class="slds-scrollable" style="height: 300px">
						<c-investor-selection-selected-contacts-table
							key-field="id"
							data={selectedInvestorContact}
							columns={columns}
							hide-checkbox-column
							sorted-by={sortedBySelectedDataInvestorContact}
							sorted-direction={sortedDirection}
							ondeleteclick={handleDeleteClick}
							ondetailsbutton={showInvestorContactRowData}
							onsort={sortSelectedInvestorContact}
							onloadmore={loadMoreSelectedInvestorContacts}
							is-loading={selectedContactsLoading}
							show-row-number-column
							enable-infinite-loading>
						</c-investor-selection-selected-contacts-table >
					</div>
				</template>
			</div>
		</template>
		<!-- SELECTED RECORDS TABLES ENDS-->
		
		<template if:false={displaySelectedItemsTable}>
			
			<template if:true={displayHelpMessage}>     
				<lightning-layout multiple-rows="true">
					<lightning-layout-item size="12">
							<c-inline-message message={label.investorsSelectionAdjustSearchParameter}></c-inline-message>
					</lightning-layout-item>
				</lightning-layout>
			</template>
			
			<div style="height: 550px;">
				
				<!-- MAIN TABLE FOR BIDDER, MATCHING, SEARCH TABS STARTS -->
				<template if:true={showDataTabe}>

					<!-- FILTER INPUT / SELECT ALL / ADD BUTTONS SECTION STARTS -->
					<template if:false={showInvestorListTable}>

						<lightning-layout>
							<lightning-layout-item size="3">
								<div class="slds-p-bottom_small">
									<lightning-input
										name="searchDatatable"
										type="search"
										placeholder={label.recordSearchPlaceholder}
										variant="label-hidden"
										onchange={searchInDatatableOnChangeHandler}>
									</lightning-input>
								</div>
							</lightning-layout-item>
		
							<lightning-layout-item size="9">
								<div class="slds-float_right">
									<template if:true={selectAllButtonVisible}>
										<lightning-button class="slds-m-right_small" label={label.selectAll} onclick={selectAll} variant="brand"></lightning-button>
									</template>
		
									<template if:false={selectAllButtonVisible}>
										<lightning-button class="slds-m-right_small" label={label.unselectAll} onclick={unselectAll} variant="brand"></lightning-button>
									</template>
		
									<lightning-button
										label={label.addSelection}
										onclick={addSelectionHandler}
										disabled={buttonAddSelectionIsDisabled}
										variant="brand">
									</lightning-button>
								</div>
							</lightning-layout-item>
						</lightning-layout>
		
					</template>
					<!-- FILTER INPUT / SELECT ALL / ADD BUTTONS SECTION ENDS -->
		
					<div class="slds-text-heading_medium">
						{investorListName}
					</div>
					
					<c-investor-selection-datatable-color
						hide-checkbox-column
						data-id="selectionTable"
						key-field="id"
						data={data}
						columns={tableColumns}
						onsort={updateColumnSorting}
						ondetailsbutton={showRowData}
						sorted-by={sortedBy}
						sorted-direction={sortedDirection}
						onloadmore={loadMoreData}
						is-loading={searchDataTableIsLoading}
						show-row-number-column
						enable-infinite-loading>
					</c-investor-selection-datatable-color>
				</template>
				<!-- MAIN TABLE FOR BIDDER, MATCHING, SEARCH TABS ENDS -->

				<!-- MAIN TABLES FOR LISTS TAB STARTS -->
				<template if:true={showInvestorListTable}>
					<div class="slds-text-heading_medium">
						{label.searchResultsHeading}{investorListName}
					</div>
					<div style="height: 550px;">
						<template if:true={showInvestorlistItemsWithoutContactsTable}>
							
							<div class="slds-text-heading_medium">
								{label.accountEntries}
							</div>

							<lightning-layout>

								<lightning-layout-item size="3">
									<div class="slds-p-bottom_small">
										<lightning-input
											name="listTabInvestor"
											type="search"
											placeholder={label.recordSearchPlaceholder}
											variant="label-hidden"
											onchange={searchInDatatableOnChangeHandler}>
										</lightning-input>
									</div>
								</lightning-layout-item>
			
								<lightning-layout-item size="9">
									<div class="slds-float_right">
										<template if:true={selectAllInvestorsIsVisible}>
											<lightning-button class="slds-m-right_small" label={label.selectAll} onclick={selectAllInvestors} variant="brand"></lightning-button>
										</template>
			
										<template if:false={selectAllInvestorsIsVisible}>
											<lightning-button class="slds-m-right_small" label={label.unselectAll} onclick={unselectAllInvestors} variant="brand"></lightning-button>
										</template>
			
										<lightning-button
											label={label.addSelection}
											onclick={addSelectionHandlerInvestor}
											disabled={addButtonForInvestorIsDisabled}
											variant="brand">
										</lightning-button>
									</div>
								</lightning-layout-item>
			
							</lightning-layout>
							
							<div class="slds-scrollable" style="height: 120px">
								<c-investor-selection-datatable-color
									hide-checkbox-column
									data-id="selectionTable"
									key-field="id"
									data={listItemsWithoutContacts}
									columns={columnsListItemsWithoutContacts}
									onsort={sortListInvestorWithoutContacts}
									ondetailsbutton={showListInvestorRow}
									sorted-by={sortedByListInvestorWithoutContacts}
									sorted-direction={sortedDirection}
									onloadmore={loadMoreInvestorListItems}
									is-loading={investorListItemsIsLoading}
									show-row-number-column
									enable-infinite-loading>
								</c-investor-selection-datatable-color>
							</div>

							<div class="slds-m-bottom_large" style="height: 1px;"></div>
						</template>

						<!--Lists => XXXX_LIST_DATATABLE-->
						<template if:true={showInvestorListItemsWithContactsTable}>

							<div class="slds-text-heading_medium">
								{label.contractEntries}
							</div>

							<lightning-layout>

								<lightning-layout-item size="3">
									<div class="slds-p-bottom_small">
										<lightning-input
											name="listTabInvestorContact"
											type="search"
											placeholder={label.recordSearchPlaceholder}
											variant="label-hidden"
											onchange={searchInDatatableOnChangeHandler}>
										</lightning-input>
									</div>
								</lightning-layout-item>
			
								<lightning-layout-item size="9">
									<div class="slds-float_right">
										<template if:true={selectAllInvestorContactsIsVisible}>
											<lightning-button class="slds-m-right_small" label={label.selectAll} onclick={selectAllInvestorContacts} variant="brand"></lightning-button>
										</template>
			
										<template if:false={selectAllInvestorContactsIsVisible}>
											<lightning-button class="slds-m-right_small" label={label.unselectAll} onclick={unselectAllInvestorContacts} variant="brand"></lightning-button>
										</template>
			
										<lightning-button
											label={label.addSelection}
											onclick={addSelectionHandlerInvestorContacts}
											disabled={addButtonForInvestorContactIsDisabled}
											variant="brand">
										</lightning-button>
									</div>
								</lightning-layout-item>
			
							</lightning-layout>

							
							<div class="slds-scrollable" style="height: 300px">
								<c-investor-selection-datatable-color
									hide-checkbox-column
									data-id="selectionTable"
									key-field="id"
									data={listItemsWithContacts}
									columns={columnsListItemsWithContacts}
									onsort={sortListInvestorWithContacts}
									ondetailsbutton={showListInvestorContactRow}
									sorted-by={sortedByListInvestorWithContacts}
									sorted-direction={sortedDirection}
									onloadmore={loadMoreInvestorListItemContacts}
									is-loading={investorListItemContactsIsLoading}
									show-row-number-column
									enable-infinite-loading>
								</c-investor-selection-datatable-color>
							</div>
						</template>
					</div>
				</template>
				<!-- MAIN TABLES FOR LISTS TAB ENDS -->
			</div>

		</template>
	</div>

	<c-investor-selection-add-records-modal
		onrecordadded={handleRecordAdded}
	></c-investor-selection-add-records-modal>
</template>