<template>
    <template if:true={showModal}>
            <section
                role="dialog"
                class="slds-modal slds-fade-in-open slds-modal_medium"
            >
                <div class="slds-modal__container" style="width: 100px">
                    <header class="slds-modal__header">
                        <button
                            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title={label.close}
                            onclick={closeModal}
                        >
                            <lightning-icon
                                icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small"
                            >
                            </lightning-icon>
                            <span class="slds-assistive-text">{label.close}</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">
                            {label.deleteHeading}
                        </h2>
                    </header>

                    <div
                        class="slds-modal__content slds-p-around_medium slds-scrollable_y"
                        style="height: 80px;"
                    >
                        <p style="text-align:center">{label.deleteConfirmation}</p>
                    </div>

                    <footer class="slds-modal__footer">
                        <lightning-button
                            data-id="closeButton"
                            label={label.close}
                            title="Cancel"
                            onclick={closeModal}
                            style="padding-right: 12px"
                        >
                        </lightning-button>
                        <lightning-button
                            data-id="deleteButton"
                            label={label.deleteButtonLabel}
                            title="Delete"
                            onclick={deleteMethod}
                            variant="brand"
                        >
                        </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
</template>