/**
 * Created by thomas.schnocklake on 18.04.18.
 */

.THIS .filterfield {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.THIS .active-filter {
	color: #4D93DB;
}

.THIS .slds-card__body {
	margin-bottom: 0;
}