<template>
    <div class="slds-form-element">
        <template if:false={labelHidden}>
            <template if:false={required}>
                <label class="slds-form-element__label" for="combobox"
                    >{label}</label
                >
            </template>
            <template if:true={required}>
                <label class="slds-form-element__label" for="combobox">
                    <abbr title="required" class="slds-required">*</abbr>
                    {label}
                </label>
            </template>
        </template>
        <div class="slds-form-element__control">
            <div class={getContainerClass}>
                <div
                    class={getDropdownClass}
                    aria-expanded={isExpanded}
                    aria-haspopup="listbox"
                    role="combobox"
                >
                    <!-- Search input start -->
                    <div class={getComboboxClass} role="none">
                        <template if:false={isMultiEntry}>
                            <lightning-icon
                                icon-name={getSelectIconName}
                                size="small"
                                alternative-text="Selected item icon"
                                class={getSelectIconClass}
                            >
                            </lightning-icon>
                        </template>

                        <!-- Text input -->
                        <input
                            type="text"
                            class={getInputClass}
                            aria-autocomplete="list"
                            aria-controls="listbox"
                            autocomplete="off"
                            role="textbox"
                            id="combobox"
                            placeholder={placeholder}
                            value={getInputValue}
                            readonly={isInputReadonly}
                            onfocus={handleFocus}
                            onblur={handleBlur}
                            oninput={handleInput}
                            required={required}
                        />

                        <!-- Spinner -->
                        <div
                            role="presentation"
                            class="slds-hide slds-input__icon slds-input__icon_right slds-is-relative"
                        >
                            <div
                                role="status"
                                class="slds-spinner slds-spinner_xx-small slds-spinner_delayed"
                            >
                                <span class="slds-assistive-text">Loading</span>
                                <div class="slds-spinner__dot-a"></div>
                                <div class="slds-spinner__dot-b"></div>
                            </div>
                        </div>

                        <!-- Search icon -->
                        <lightning-icon
                            icon-name="utility:search"
                            size="x-small"
                            alternative-text="Search icon"
                            class={getSearchIconClass}
                        ></lightning-icon>

                        <!-- Clear selection button icon for single entry lookups -->
                        <template if:false={isMultiEntry}>
                            <template if:false={disabled}>
                                <button
                                    title="Remove selected option"
                                    onclick={handleClearSelection}
                                    class={getClearSelectionButtonClass}
                                >
                                    <lightning-icon
                                        icon-name="utility:close"
                                        size="x-small"
                                        alternative-text="Remove selected option"
                                        class="slds-button__icon"
                                    >
                                    </lightning-icon>
                                </button>
                            </template>
                        </template>
                    </div>
                    <!-- Search input end -->

                    <!-- Result list box start -->
                    <div
                        id="listbox"
                        role="listbox"
                        onclick={handleComboboxClick}
                    >
                        <ul class={getListboxClass} role="presentation">
                            <template
                                for:each={searchResults}
                                for:item="result"
                            >
                                <template if:false={result.isAddButton}>
                                    <li
                                        key={result.id}
                                        role="presentation"
                                        class="slds-listbox__item"
                                    >
                                        <span
                                            class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                            role="option"
                                            onclick={handleResultClick}
                                            data-recordid={result.id}
                                        >
                                            <span class="slds-media__figure">
                                                <lightning-icon
                                                    icon-name={result.icon}
                                                    size="small"
                                                    alternative-text="Result item icon"
                                                ></lightning-icon>
                                            </span>
                                            <span class="slds-media__body">
                                                <span
                                                    class="slds-listbox__option-text slds-listbox__option-text_entity"
                                                    >{result.title}</span>
                                                <template if:true={hideSubtitle}>
                                                    <span class="slds-listbox__option-meta slds-listbox__option-meta_entity"
                                                        >{result.subtitle}
                                                    </span>
                                                </template>
                                            </span>
                                        </span>
                                    </li>
                                </template>
                                <template if:true={result.isAddButton}>
                                    <li
                                        key={result.id}
                                        role="presentation"
                                        class="slds-listbox__item"
                                    >
                                        <span
                                            class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                            role="option"
                                            onclick={addRecordShowModal}
                                            data-recordid={result.id}
                                        >
                                            <span class="slds-media__figure">
                                                <lightning-icon
                                                    icon-name={result.icon}
                                                    size="x-small"
                                                    alternative-text="Result item icon"
                                                ></lightning-icon>
                                            </span>
                                            <span class="slds-media__body">
                                                <span class="slds-listbox__option-text slds-listbox__option-text_entity">
                                                    {result.title}
                                                </span>
                                            </span>
                                        </span>
                                    </li>
                                </template>
                            </template>
                        </ul>
                    </div>
                    <!-- Result list box end -->
                </div>
            </div>

            <!-- Multi-selection start -->
            <template if:true={isMultiEntry}>
                <div
                    id="selection"
                    role="listbox"
                    aria-orientation="horizontal"
                >
                    <ul
                        class="slds-listbox slds-listbox_inline slds-p-top_xxx-small"
                        role="group"
                        aria-label="Selected Options:"
                    >
                        <template for:each={selection} for:item="item">
                            <li
                                key={item.id}
                                role="presentation"
                                class="slds-listbox__item"
                            >
                                <lightning-pill
                                    label={item.title}
                                    onremove={handleRemoveSelectedItem}
                                    name={item.id}
                                >
                                    <lightning-icon
                                        icon-name={item.icon}
                                    ></lightning-icon>
                                </lightning-pill>
                            </li>
                        </template>
                    </ul>
                </div>
            </template>
            <!-- Multi-selection end -->

            <!-- Errors start -->
            <template for:each={errors} for:item="error">
                <label
                    key={error.id}
                    role="alert"
                    class="slds-form-element__label form-error"
                    >{error.message}</label
                >
            </template>
            <!-- Errors end -->
        </div>
    </div>


    <!-- SECTION WITH ADD NEW RECORD MODAL WINDOW STARTS -->
    <template if:true={showAddRecordForm}>
        <section role="dialog" class="slds-modal slds-fade-in-open slds-modal_medium">
            <div class="slds-modal__container" style="width: 240px">
                <header class="slds-modal__header">
                    <button
                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title={label.generalLabelClose}
                        onclick={addRecordCloseModal}
                    >
                        <lightning-icon
                            icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small"
                        >
                        </lightning-icon>
                        <span class="slds-assistive-text">{addRecordCustomLabels.close}</span>
                    </button>
                    <h2 class="slds-text-heading_medium slds-hyphenate">
                        {addRecordCustomLabels.modalHeader}
                    </h2>
                </header>

                <lightning-record-edit-form object-api-name={addRecordObjectApiName} onsuccess={addRecordSuccess}>
                    <lightning-messages>
                    </lightning-messages>
                    <div class="slds-modal__content slds-p-around_medium slds-scrollable_y" style="height: 200px;">
                        <div class="slds-is-relative">
                            <template for:each={addRecordFields} for:item="item">
                                <lightning-input-field key={item.fieldApiName} field-name={item.fieldApiName} required={item.required}></lightning-input-field>
                            </template>
                            <!-- <lightning-spinner if:true={isLoading} alternative-text="Loading" size="medium"></lightning-spinner>
                            <template if:true={objectInfo}>
                                <c-inline-message message={label.setObjectGeodataConfirmModalText}>
                                </c-inline-message>
                                <div class="slds-align_absolute-center">
                                    {label.generalLabelLatitude}: {objectInfo.Geolocation__Latitude__s} {label.generalLabelLongitude}: {objectInfo.Geolocation__Longitude__s}
                                </div>
                            </template> -->
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button
                            data-id="closeButton"
                            label={addRecordCustomLabels.cancel}
                            title={addRecordCustomLabels.cancel}
                            onclick={addRecordCloseModal}
                            style="padding-right: 12px"
                        >
                        </lightning-button>
                        <lightning-button
                            class="slds-m-top_small"
                            type="submit"
                            label={addRecordCustomLabels.save}>
                        </lightning-button>
                    </footer>
                    
                </lightning-record-edit-form>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <!-- SECTION WITH ADD NEW RECORD MODAL WINDOW ENDS -->
</template>