<template>
    <template if:true={showMap}>
        <lightning-map
            map-markers={markers}
            zoom-level={zoomLevel}
        ></lightning-map>
    </template>
    <template if:false={showMap}>
        <c-inline-message message={error}>
        </c-inline-message>
    </template>
</template>