<template>
    <div style="height: 70px">
        <div>
            <lightning-input type="checkbox" label={sectionLabel} name="cb1" checked={isChecked} class="label-active"
                             onchange={handleElementCheckboxChange}></lightning-input>
        </div>
        <div style="padding-left: 15px; margin-top: -5px">
            <c-return-range eventname={eventName} mode="number" label="" min={diapasonStart} max={diapasonEnd} start={range.min} end={range.max}
                            step={step} disabled={isDisabled}></c-return-range>
        </div>
    </div>
</template>