<!--
 - Created by npo in scope of US1910
 -->

<!-- New Mailing -->
<template>
	<lightning-spinner if:true={isLoading} alternative-text="Loading" size="medium"></lightning-spinner>
	<!-- Modal window to create a task. -->
    <template if:true={showModalCreateTask}>
        <c-mailing-create-task
			opportunity-record-id={opportunityId}
			correspondence-name={correspondenceName}
			onclose={handleCloseModalCreateTask}
        ></c-mailing-create-task>
	</template>
	
	<div class="slds-page-header slds-m-bottom_x-small">
		<div class="slds-page-header__row">
			<div class="slds-page-header__col-title">
				<div class="slds-media">
					<div class="slds-media__figure">
						<lightning-icon
								icon-name="custom:custom85"
								size="medium"
						></lightning-icon>
					</div>
					<div class="slds-media__body">
						<div class="slds-page-header__name">
							<div class="slds-page-header__name-title">
								<span>Opportunity</span>
								<h1>
									<span><b>{opportunityName}</b></span>
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slds-page-header__col-actions">
				<div class="slds-page-header__controls">
					<div class="slds-page-header__control">
<!--						navigation buttons-->
						<lightning-button class="slds-m-left_small" label={label.newMailingOpportunityLabel} onclick={handleNavigationButtonClick} data-target-navigation="opportunity"></lightning-button>
						<lightning-button class="slds-m-left_small" label={label.toInvestorsOverviewLabel} onclick={handleNavigationButtonClick} data-target-navigation="investorsOverview"></lightning-button>
						<lightning-button class="slds-m-left_small" label={label.toInvestorSelectionLabel} onclick={handleNavigationButtonClick} data-target-navigation="investorSelection"></lightning-button>


						<lightning-button class="slds-m-left_small" label={label.task} onclick={handleOpenModalCreateTask}></lightning-button>
						<lightning-button class="slds-m-left_small" disabled={isStoreButtonDisabled} label={label.saveLabel} onclick={handleStore}></lightning-button>
						<lightning-button class="slds-m-left_small" disabled={isCampaignNotSaved} label={label.reportLabel} onclick={handleNavigationButtonClick} data-target-navigation="report"></lightning-button>
						<lightning-button class="slds-m-left_small" disabled={isSendButtonDisabled} label={label.generalLabelSend} onclick={handleSend}></lightning-button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="slds-card container">

		<c-new-mailing-validation-details
				has-error-details={hasErrorDetails}
				error-details={errorDetails}>
		</c-new-mailing-validation-details>

		<template if:true={dataLoaded}>
<!--		<div style="width: 80%; margin: auto;">-->
		<div class="slds-grid slds-wrap slds-grid_align-center ">
			<div class="slds-col slds-size_1-of-1">
					<c-new-mailing-criteria
							is-form-editing-disabled={disableFormEditing}
							chosen-user={sender}
							correspondence-name={correspondenceName}
							investor-status={investorStatus}
							bcc={bcc}
							opportunity-id={opportunityId}
							ondatachange={handleCriteriaChange}>

					</c-new-mailing-criteria>

			</div>

		<!--	e-mail templates-->
			<div class="slds-col slds-size_1-of-1">
				<div class="slds-scope slds-form slds-form_horizontal slds-p-around_medium">
					<div class="slds-grid slds-wrap">
						<div class="slds-size_1-of-2 slds-max-small-size_1-of-4 " style="padding-right: 10%;">
							<c-lookup
									lookup-id={selectedEnTemplateId}
									onsearch={handleTemplateSearch}
									onselectionchange={handleTemplateLookupChange}
									label={label.emailTemplateENLabel}
									is-multi-entry={templateField.isMultiEntry}
									data-id="selectedEnTemplateId"
									invalid-message={label.newMailingSelectedTemplateNotValidLabel}
									disabled={disableFormEditing}

							>
							</c-lookup>
							<template if:false= {selectedEnTemplateIdIsValid}>
								<div class="slds-text-color_destructive" style="text-align: left;">{label.newMailingSelectedTemplateNotValidLabel}</div>
							</template>
						</div>
						<div class="slds-size_1-of-2 slds-max-small-size_1-of-4 " style="padding-left: 10%;">
							<div class="slds-grid slds-wrap ">
								<div class="slds-col slds-size_1-of-13 slds-p-right_xxx-small slds-p-left_xx-small slds-form-element__label" style="">
									{label.campaignIsActiveLabel}</div>
								<div class="slds-col slds-size_1-of-12">

									<lightning-input type="checkbox" disabled checked={isCampaignActive} label="" style="float: left;"></lightning-input>
								</div>
							</div>
						</div>
						<div class="slds-size_1-of-2 slds-max-small-size_1-of-4 " style="padding-right: 10%;">
							<c-lookup
									lookup-id={selectedDeTemplateId}
									onsearch={handleTemplateSearch}
									onselectionchange={handleTemplateLookupChange}
									label={label.emailTemplateDELabel}
									is-multi-entry={templateField.isMultiEntry}
									data-id="selectedDeTemplateId"
									invalid-message={label.newMailingSelectedTemplateNotValidLabel}
									disabled={disableFormEditing}

							>
							</c-lookup>
							<template if:false= {selectedDeTemplateIdIsValid}>
								<div class="slds-text-color_destructive" style="text-align: left;">{label.newMailingSelectedTemplateNotValidLabel}</div>
							</template>
						</div>
					</div>
				</div>
			</div>
		</div>
		</template>
	</div>
		<template if:true={dataLoaded}>
			<div class="correspondence-mask">
				<c-new-mailing-correspondence-mask is-form-editing-disabled={disableFormEditing}
												   investors-list={investorsList}
												   investors-ids={investorsIds}
												   campaign-id={campaignId}
												   oninvestorslistchange={handleInvestorsListUpdate}
				></c-new-mailing-correspondence-mask>
			</div>
		</template>

	<c-new-mailing-send-modal onsendingresponse={handleSendResponse}></c-new-mailing-send-modal>
	<c-new-mailing-unsaved-changes-modal onsavechanges={handleSaveChanges} ondiscardchanges={handleDiscardChanges}></c-new-mailing-unsaved-changes-modal>

</template>