<template>
	<lightning-spinner
		if:true={isLoading}
		alternative-text="Loading"
		size="medium"
	></lightning-spinner>
    <lightning-card>
        <div class="slds-text-heading_large slds-p-left_medium">{label.activities}</div><br/>
        <c-investors-list-view-all-activities-table
            key-field="id"
            data={activityData}
            columns={activityColumns}
            hide-checkbox-column
            ondeleteactivity={handleDeleteActivity}
			wrap-text-max-lines="3">
        </c-investors-list-view-all-activities-table>
    </lightning-card>

    <template if:true={showConfirmDelete}>
        <section role="dialog" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">{label.cancelDelete}</span>
                    </button>
                    <h2 class="slds-text-heading_medium slds-hyphenate">
                        {label.deleteActivityHeading}
                    </h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium">
                    <p>{label.deleteActivityConfirm}</p>
                </div>

                <footer class="slds-modal__footer">
                    <lightning-button data-id="closeButton" label={label.cancelDelete} title={label.cancelDelete} onclick={closeModal}>
                    </lightning-button>
                    <lightning-button data-id="deleteButton" label={label.deleteActivity} title={label.deleteActivity} onclick={deleteActivity} variant="brand" class="slds-p-left_small">
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>