<template>
    <lightning-spinner
		if:true={isLoading}
		alternative-text="Loading"
		size="medium"
    ></lightning-spinner>
    
    <div class="slds-p-around--small slds-m-bottom--small" style="background: #f9f9f9; color: #383d41">
        <lightning-layout>
            <lightning-layout-item size="1">
                <lightning-icon size="x-small" icon-name="utility:info" alternative-text="Info" ></lightning-icon>
            </lightning-layout-item>
            <lightning-layout-item size="11">
                <p style="padding-top: 1px">{label.pleaseChooseListLabel}</p>
            </lightning-layout-item>
        </lightning-layout>
    </div>
    <div class="slds-scrollable_y slds-m-top_x-small" style="height: 430px">
        <template for:each={investorsList} for:item="item">
            <template if:true={isInvestorListVisible}>
                <c-investor-selection-investor-list
                        key={item.investorListId}
                        investor-list={item}
                ></c-investor-selection-investor-list>
            </template>
        </template>
    </div>
    <div class="slds-grid slds-grid_align-center">
        <div class="slds-col">
            <button class="slds-button" onclick={loadMoreInvestorsList}>{label.generalLabelShowMore}</button>
        </div>
    </div>
</template>