.THIS .slds-media__body span:last-child
{
    display : none
}

.THIS .slds-text-link
{
    font-size: 1em
}

.THIS .slds-coordinates .slds-icon
{
    width: 1.5rem;
    height: 1.5rem;
}

.THIS.slds-has-coordinates
{
    flex-wrap: nowrap;
    overflow: hidden;
}