<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon
                        icon-name="action:add_relationship"
                        size="small"
                    ></lightning-icon>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">
                        <span>{label.applicationNameLabel}</span>
                    </h2>
                </div>
                <div class="slds-no-flex">
                    <lightning-button label={label.addActionLabel} title={label.addActionLabel} onclick={handleCreateRecord} disabled={recordSelected}></lightning-button>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <c-search
                label={label.searchLabel}
                placeholder={label.searchPlaceholderLabel}
                object-api-name={searchString.objectApiName}
                field-api-name={searchString.fieldApiName}
                is-multi-entry={searchString.isMultiEntry}
                data-id="nameSearchInput"
                invalid-message='error'
                onsearch={handleRecordsSearch}
                onchange={handleRecordChange}
                onselectionchange={handleRecordSelectionChange}
            >
            </c-search>
        </div>
        <!-- <footer class="slds-card__footer">
        <a class="slds-card__footer-action" href="javascript:void(0);">View All
        <span class="slds-assistive-text">Accounts</span>
        </a>
        </footer> -->
    </article>
</template>