<template>
    <template if:true={rendered}>
        <select name="access" class="slds-input slds-combobox__input" onchange={handleStatusChange}>
            <option value=""></option>
            <template for:each={options} for:item="option">
                <option key={option.label} value={option.value} selected={option.selected}>{option.label}</option>
            </template>
        </select>
    </template>
</template>