<template>
    <template if:true={details}>
        <div
            style="text-align: center; cursor: pointer;"
            onclick={handleShowDetails}
        >
            <lightning-icon
                icon-name="utility:preview"
                size="xx-small"
            ></lightning-icon>
        </div>
    </template>

    <template if:true={deleteContact}>
        <div
            style="text-align: center; cursor: pointer;"
            onclick={handleDeleteContact}
        >
            <lightning-icon
                icon-name="utility:delete"
                size="xx-small"
            ></lightning-icon>
        </div>
    </template>


    <template if:true={addActivity}>
            <lightning-button-icon
                size="medium"
                variant="bare"
                icon-name="utility:add"
                onclick={handleAddActivity}>
            </lightning-button-icon>
    </template>
</template>