<template>
    <c-investor-selection-checkbox-component disabledandchecked={typeAttributes.disabledandchecked} table-name={typeAttributes.tableName} record-id={value}>
    </c-investor-selection-checkbox-component>
</template>