<!--
 - @author npo
 - @copyright PARX
 -->

<!-- Investors List Existing Mailing Modal -->
<template>

	<template if:true={showModal}>
		<section
				role="dialog"
				tabindex="-1"
				aria-labelledby="modal-heading-01"
				aria-modal="true"
				aria-describedby="modal-content-id-1"
				class="slds-modal slds-fade-in-open">
			<div class="slds-modal__container">
				<header class="slds-modal__header">
					<button
							class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
							title={label.close}
							onclick={hide}
					>
						<lightning-icon
								icon-name="utility:close"
								alternative-text="close"
								variant="inverse"
								size="small"
						>
						</lightning-icon>
						<span class="slds-assistive-text">{label.close}</span>
					</button>
					<h2 class="slds-text-heading_medium slds-hyphenate">
						{label.existingMailing}
					</h2>
				</header>

				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<template if:true={campaigns}>
						<lightning-datatable
								key-field="id"
								hide-checkbox-column="true"
								onrowaction={handleRowAction}
								data={campaigns}
								onsort={updateColumnSorting}
								sorted-by={sortedBy}
								sorted-direction={sortedDirection}
								columns={campaignColumns}></lightning-datatable>
					</template>

				</div>

				<footer class="slds-modal__footer modal-hidden">
					<lightning-button
							label={label.cancelLabel}
							variant="neutral"
							onclick={handleCancelNewMailingModal}>
					</lightning-button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>

	</template>

	<c-investors-list-new-mailing-modal onclosedialog={handleCloseDialog} records={selectedInvestors}
										opportunity-id={opportunityId}>
	</c-investors-list-new-mailing-modal>

</template>