<template>
    <template if:true={isInitialFilterPrepared}>
        <div data-id="filter-block" class="slds-hide">
        <div class="slds-scrollable_y slds-m-top_x-small" style="height: 500px">
            <div class="filtering-element">
                <lightning-accordion allow-multiple-sections-open active-section-name="investorenselektion" class="section">
                    <lightning-accordion-section name="investorenselektion" label="">
                        <div style="margin-top: -26px">
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.TypeOfUse__c} active-value={initialFilterObject.TypeOfUse} data-api-name="TypeOfUse__c"
                                                            picklist-values={typeOfUsePicklistValues} static-label="Nutzungsart"></c-filter-element-checkbox-list>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.TypeOfRealEstate__c} active-value={initialFilterObject.TypeOfRealEstate} data-api-name="TypeOfRealEstate__c"
                                                            picklist-values={typeOfRealEstatePicklistValues} static-label="Immobilienart"></c-filter-element-checkbox-list>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.RiskCategory__c} active-value={initialFilterObject.RiskCategory} data-api-name="RiskCategory__c"
                                                            picklist-values={riskCategoryPicklistValues} static-label="Risikokategorie"></c-filter-element-checkbox-list>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.MacroLocation__c} active-value={initialFilterObject.MacroLocation} data-api-name="MacroLocation__c"
                                                            picklist-values={macroLocationPicklistValues} static-label="Makrolage"></c-filter-element-checkbox-list>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.Submarket__c} active-value={initialFilterObject.Submarket} data-api-name="Submarket__c"
                                                            picklist-values={submarketPicklistValues} static-label="Teilmarkt"></c-filter-element-checkbox-list>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-range-input class="filter" section-label={label.investmentVolume} data-api-name="PurchasingPriceOffer__c"
                                                        min={initialFilterObject.PurchasingPriceOffer.min} max={initialFilterObject.PurchasingPriceOffer.max} static-label="Angebots-Kaufpreis"></c-filter-element-range-input>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-range-input class="filter" section-label={labels.SqmInTotal__c} data-api-name="SqmInTotal__c"
                                                        min={initialFilterObject.SqmInTotal.min} max={initialFilterObject.SqmInTotal.max} static-label="Gesamtfläche m²"
                            ></c-filter-element-range-input>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-range-slider class="filter" section-label={labels.AmountOfSpaceLet__c} data-api-name="AmountOfSpaceLet__c"
                                                        diapason-start={initialFilterObject.OccupancyRate.start} diapason-end={initialFilterObject.OccupancyRate.end}
                                                        min={initialFilterObject.OccupancyRate.min} max={initialFilterObject.OccupancyRate.max} step="1" static-label="Vermietungsstand"
                            ></c-filter-element-range-slider>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-range-slider class="filter" section-label={labels.WALT__c} data-api-name="WALT__c"
                                                        diapason-start={initialFilterObject.WALT.start} diapason-end={initialFilterObject.WALT.end}
                                                        min={initialFilterObject.WALT.min} max={initialFilterObject.WALT.max} step="1" static-label="Gewichtete Laufzeit (WALT)"
                            ></c-filter-element-range-slider>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.Certification__c} active-value={initialFilterObject.Certification} data-api-name="Certification__c"
                                                            picklist-values={certificationPicklistValues} static-label="Zertifizierung"></c-filter-element-checkbox-list>
                            <!--@deprecated (US 2413)-->
                            <!--<div>-->
                                <!--<c-filter-element-range-slider class="filter" section-label={labels.YearofConstruction__c} data-api-name="YearofConstruction__c"-->
                                                            <!--diapason-start={initialFilterObject.YearofConstruction.start} diapason-end={initialFilterObject.YearofConstruction.end}-->
                                                            <!--min={initialFilterObject.YearofConstruction.min} max={initialFilterObject.YearofConstruction.max} step="1" static-label="Baujahr"></c-filter-element-range-slider>-->
                            <!--</div>-->
                        </div>
                        </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            <!--Bei Asset-Klasse Hotel-->
            <div class={filterVisibility.hotelAssetClass}>
                <lightning-accordion allow-multiple-sections-open class="section">
                    <lightning-accordion-section name="type-of-use-hotel" label="Bei Asset-Klasse Hotel">
                        <div class="accordion-item">
                            <c-filter-element-range-input class="filter" section-label={labels.NumberOfRooms__c} data-api-name="NumberOfRooms__c"
                                                        min={initialFilterObject.NumberOfRooms.min} max={initialFilterObject.NumberOfRooms.max} static-label="Zimmeranzahl"
                            ></c-filter-element-range-input>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.Category__c} active-value={initialFilterObject.Category} data-api-name="Category__c"
                                                            picklist-values={categoryPicklistValues} static-label="Kategorie"></c-filter-element-checkbox-list>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.LocationType__c} active-value={initialFilterObject.LocationType} data-api-name="LocationType__c"
                                                            picklist-values={locationTypePicklistValues} static-label="Location Type"></c-filter-element-checkbox-list>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.TypeOfContract__c} active-value={initialFilterObject.TypeOfContract} data-api-name="TypeOfContract__c"
                                                            picklist-values={typeOfContractPicklistValues} static-label="Vertragsform"></c-filter-element-checkbox-list>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.BrandHotels__c} active-value={initialFilterObject.BrandHotels} data-api-name="BrandHotels__c"
                                                            picklist-values={brandHotelsPicklistValues} static-label="Marke"></c-filter-element-checkbox-list>
                        </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            <!--Bei Asset-Klasse Office-->
            <div class={filterVisibility.officeAssetClass}>
                <lightning-accordion allow-multiple-sections-open class="section">
                    <lightning-accordion-section name="type-of-use-office" label="Bei Asset-Klasse Office">
                        <div class="accordion-item">
                            <c-filter-element-range-input class="filter" section-label={labels.SqmOffice__c} data-api-name="SqmOffice__c"
                                                        min={initialFilterObject.SqmOffice.min} max={initialFilterObject.SqmOffice.max} static-label="Bürofläche m²"
                            ></c-filter-element-range-input>
                        </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            <!--Bei Asset-Klasse Land-->
            <div class={filterVisibility.landAssetClass}>
                <lightning-accordion allow-multiple-sections-open class="section">
                    <lightning-accordion-section name="type-of-use-land" label="Bei Asset-Klasse Land">
                        <div class="accordion-item">
                            <c-filter-element-range-input class="filter" section-label={labels.RealizableBGF__c} data-api-name="RealizableBGF__c"
                                                        min={initialFilterObject.RealizableBGF.min} max={initialFilterObject.RealizableBGF.max} static-label="Realisierbare BGF"
                            ></c-filter-element-range-input>
                        </div>
                        <div class="accordion-item">
                            <!--@deprecated (US 2413)-->
                            <!--<c-filter-element-range-input class="filter" section-label={labels.SqmPlot__c} data-api-name="SqmPlot__c"-->
                                                        <!--min={initialFilterObject.SqmPlot.min} max={initialFilterObject.SqmPlot.max} static-label="Grundstücksfläche m²"-->
                            <!--&gt;</c-filter-element-range-input>-->
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.PlanningRegulations__c} active-value={initialFilterObject.PlanningRegulations} data-api-name="PlanningRegulations__c"
                                                            picklist-values={planningRegPicklistValues} static-label="Planungsrecht"></c-filter-element-checkbox-list>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.PlotWithBuildingPermission__c} active-value={initialFilterObject.PlotWithBuildingPermission} data-api-name="PlotWithBuildingPermission__c"
                                                            picklist-values={plotBuildingPicklistValues} static-label="Grundstück mit Baugenehmigung"></c-filter-element-checkbox-list>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label="" active-value={initialFilterObject.ConversionProperty} data-api-name="ConversionProperty__c"
                                                            picklist-values={conversionProperty} static-label="Umwandlungsobjekt" display-accordion="false"
                                                            checkbox-label={labels.ConversionProperty__c}></c-filter-element-checkbox-list>
                        </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            <!--Bei Asset-Klasse Industrie / Logistik-->
            <div class={filterVisibility.industryAssetClass}>
                <lightning-accordion allow-multiple-sections-open class="section">
                    <lightning-accordion-section name="type-of-use-industrie" label="Bei Asset-Klasse Industrie / Logistik">
                        <div class="accordion-item">
                            <c-filter-element-checkbox-list class="filter" section-label={labels.KindOfDevelopment__c} active-value={initialFilterObject.KindOfDevelopment} data-api-name="KindOfDevelopment__c"
                                                            picklist-values={kindOfDevelopmentPicklistValues} static-label="Entwicklungsart"></c-filter-element-checkbox-list>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-range-input class="filter" section-label={labels.SqmPlot__c} data-api-name="SqmPlot__c"
                                                        min={initialFilterObject.SqmPlot.min} max={initialFilterObject.SqmPlot.max} static-label="Grundstücksfläche m²"
                            ></c-filter-element-range-input>
                        </div>
                        <div class="accordion-item">
                            <c-filter-element-range-input class="filter" section-label={labels.SqmLogistics__c} data-api-name="SqmLogistics__c"
                                                        min={initialFilterObject.SqmLogistics.min} max={initialFilterObject.SqmLogistics.max} static-label="Nutzfläche Logistik / Produktion"
                            ></c-filter-element-range-input>
                        </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            <!--Bei Asset-Klasse Retail-->
            <div class={filterVisibility.retailAssetClass}>
                <lightning-accordion allow-multiple-sections-open class="section">
                    <lightning-accordion-section name="type-of-use-retail" label="Bei Asset-Klasse Retail">
                        <div class="accordion-item">
                            <c-filter-element-range-input class="filter" section-label={labels.SqmRetail__c} data-api-name="SqmRetail__c"
                                                        min={initialFilterObject.SqmRetail.min} max={initialFilterObject.SqmRetail.max} static-label="Einzelhandelsfläche m²"
                            ></c-filter-element-range-input>
                        </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            <!--Bei Asset-Klasse Residential-->
            <div class={filterVisibility.residentialAssetClass}>
                <lightning-accordion allow-multiple-sections-open class="section">
                    <lightning-accordion-section name="type-of-use-residential" label="Bei Asset-Klasse Residential">
                        <div class="accordion-item">
                            <c-filter-element-range-input class="filter" section-label={labels.AccomodationUnit__c} data-api-name="AccomodationUnit__c"
                                                        min={initialFilterObject.AccomodationUnit.min} max={initialFilterObject.AccomodationUnit.max} static-label="Wohneinheiten (Residential)"
                            ></c-filter-element-range-input>
                        </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
            <!--Weitere-->
            <div class={filterVisibility.otherAssetClass}>
                <lightning-accordion allow-multiple-sections-open class="section">
                    <lightning-accordion-section name="weitere" label="Weitere">
                        <lightning-accordion allow-multiple-sections-open class="">
                            <lightning-accordion-section name="investmentstrategie" label="Investmentstrategie">
                                <div class="accordion-item">
                                    <c-filter-element-range-slider class="filter" section-label={labels.IRR__c} data-api-name="IRR__c"
                                                                diapason-start={initialFilterObject.IRR.start} diapason-end={initialFilterObject.IRR.end}
                                                                min={initialFilterObject.IRR.min} max={initialFilterObject.IRR.max} step="1" static-label="IRR"
                                    ></c-filter-element-range-slider>
                                </div>
                                <div class="accordion-item">
                                    <c-filter-element-range-slider class="filter" section-label={labels.CoC__c} data-api-name="CoC__c"
                                                                diapason-start={initialFilterObject.CoC.start} diapason-end={initialFilterObject.CoC.end}
                                                                min={initialFilterObject.CoC.min} max={initialFilterObject.CoC.max} step="1" static-label="CoC"
                                    ></c-filter-element-range-slider>
                                </div>
                                <div class="accordion-item">
                                    <c-filter-element-range-slider class="filter" section-label={labels.EquityMultiplier__c} data-api-name="EquityMultiplier__c"
                                                                diapason-start={initialFilterObject.EquityMultiplier.start} diapason-end={initialFilterObject.EquityMultiplier.end}
                                                                min={initialFilterObject.EquityMultiplier.min} max={initialFilterObject.EquityMultiplier.max}
                                                                   step="1" static-label="Equity Multiplier"></c-filter-element-range-slider>
                                </div>
                                <div class="accordion-item">
                                    <c-filter-element-range-slider class="filter" section-label={labels.FactorActual__c} data-api-name="FactorActual__c"
                                                                diapason-start={initialFilterObject.FactorActual.start} diapason-end={initialFilterObject.FactorActual.end}
                                                                min={initialFilterObject.FactorActual.min} max={initialFilterObject.FactorActual.max}
                                                                   step="1" static-label="Factor"></c-filter-element-range-slider>
                                </div>
                                <!--TODO-->
                                <div class="accordion-item">
                                    <c-filter-element-checkbox-list class="filter" section-label={labels.Status__c} active-value={initialFilterObject.Status} data-api-name="Status__c"
                                                                    picklist-values={statusPicklistValues} static-label="Status"></c-filter-element-checkbox-list>
                                </div>
                            </lightning-accordion-section>
                        </lightning-accordion>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
        </div>
        </div>
        <template if:false={isTableLoaded}>
            <div style="height: 200px">
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </div>
        </template>
    </template>
</template>