<template>

    <lightning-spinner if:true={isLoading} alternative-text="Loading" size="medium"></lightning-spinner>

    <lightning-button if:false={showFilters} variant="brand" label={label.filter} onclick={handleToggleFilter} style="margin: 40px 0px 0px 20px"></lightning-button>
    <lightning-button if:true={showFilters} variant="brand" label={label.hideFilter} onclick={handleToggleFilter} style="margin: 40px 0px 0px 20px"></lightning-button>

    <template if:true={showFilters}>
        <div style="width:100%;height:550px; border-bottom:1px #cccccc solid;">
            <div style="width:80%;margin: auto;" >
                <br/><br/>
                <c-return-range eventname="distanceFilterEvent" mode="number" label={label.distance} min=0 max=400 start=0 end=200 step=20></c-return-range>
                <br/><br/>
                <c-return-range eventname="rentedSpaceFilterEvent" mode="number" label={label.rentedSpace} min=0 max=100 start=0 end=100 step=1></c-return-range>

                <br/><br/>
                <lightning-dual-listbox 
                    name="typeOfUse"
                    label={typeOfUseFieldLabel}
                    source-label={label.available}
                    selected-label={label.chosen}
                    options={typeOfUseValues.data.values}
                    onchange={handleChange}>
                </lightning-dual-listbox>
            </div>
        </div>


    </template>

    <lightning-tabset>
        <lightning-tab label={label.list} onactive={handleActiveTab}>
            <c-mobile-property-explorer-list ></c-mobile-property-explorer-list>
        </lightning-tab>
        <lightning-tab label={label.map} onactive={handleActiveTab}>
            <c-mobile-property-explorer-map url-params={urlParams}></c-mobile-property-explorer-map >
        </lightning-tab>
    </lightning-tabset>


</template>