<template>
    <div
        class="slds-page-header slds-page-header_object-home slds-m-bottom_medium"
        style="background-color: white;"
    >
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <lightning-icon
                            icon-name="standard:opportunity"
                            size="medium"
                        ></lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1>
                                    <span>Opportunity</span>
                                    <span
                                        class="slds-page-header__title slds-truncate"
                                        title={name}
                                        >{name}</span
                                    >
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-page-header__col-actions">
                <div class="slds-page-header__controls">
                    <div class="slds-page-header__control">
                        <lightning-button
                            variant="brand"
                            label={label.investorsReport}
                            title={label.investorsReport}
                        >
                        </lightning-button>
                        <c-navigate-to-button
                            class="slds-p-left_small"
                            label={label.backToOpporunity}
                            record-id={recordId}
                            nav-type="standard__recordPage"
                            variant="brand"
                        ></c-navigate-to-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <lightning-card>
        <!--  <div class="slds-grid slds-col slds-has-flexi-truncate slds-p-left_small slds-p-bottom_medium">
            <div class="profilePicWrapper slds-media slds-no-space">
                <div class="slds-media__body">
                    <lightning-icon icon-name="standard:opportunity" alternative-text="Opportunity" size="medium"></lightning-icon>
                </div>
            </div>
            <div class="slds-media__body slds-p-left_small">
                <h1>
                    <div class="entityNameTitle slds-line-height_reset">Opportunity</div>
                    <div class="slds-page-header__title slds-m-right_small slds-align-middle fade-text" title={name}>
                        <span class="uiOutputText" data-aura-class="uiOutputText">{name}</span>
                    </div>
                </h1>
            </div>
        </div>-->
        <div
            class="slds-grid slds-gutters"
            style="padding-bottom:20px; padding-left: 6px; padding-right: 6px"
        >
            <div class="slds-col slds-size_1-of-4">
                <lightning-input
                    name="enter-search"
                    type="search"
                    placeholder={label.searchPlaceholder}
                    onchange={handleKeyChange}
                    value={searchKey}
                    data-id="statePicklist"
                    variant="label-hidden"
                ></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-4">
                <!--<select class="slds-select">
                    <option value="01TeaserSent">01 - Teaser sent</option>
                    <option value="02NDASigned">02 - NDA Signed</option>
                    <option value="03ProcessLetterProvided">02 - Process Letter Provided</option>
                    <option value="04ReportLightProvided">02 - "Report Light" Provided</option>
                    <option value="05IndicativeAndNonBindingOffer">02 - Indicative/Non-Binding Offer</option>
                    <option value="06PortfolioDocumentsProvided">03 - Portfolio Documents (Dataroom) Provided</option>
                    <option value="07SalesAndPurchaseAgreementProvided">03 - Sales & Purchase Agreement ("SPA") Provided</option>
                    <option value="08BindingOfferAndSPAMark-Up">03 - Binding Offer & SPA Mark-Up</option>
                    <option value="09ExclusiveDocumentsProvided">04 - Exclusive Documents Provided</option>
                    <option value="10ExclusiveNegotiations">04 - Exclusive Negotiations</option>
                    <option value="11Signing">04 - Signing</option>
                    <option value="12Closing">04 - Closing</option>
                </select>-->
            </div>
            <div class="slds-col slds-size_1-of-4">
                &nbsp;
            </div>
            <div class="slds-col slds-size_1-of-4" style="text-align: right">
                <!--<lightning-button
                    style="text-align: right"
                    slot="actions"
                    variant="brand"
                    label={label.investorsReport}
                    title={label.investorsReport}
                    class="slds-m-left_x-small"
                >
                </lightning-button>-->
            </div>
        </div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_5-of-8">
                <div style="padding-top: 7px;">
                    <c-investors-list-datatable
                        data={records}
                        columns={columns}
                        onsort={handleSortData}
                        onpinrow={handlePinRow}
                        onactionbutton={handleRowAction}
                        sorted-by={sortBy}
                        sorted-direction={sortDirection}
                        onrowselection={handleRowSelection}
                        key-field="id"
                    >
                    </c-investors-list-datatable>
                </div>
                <div
                    class="slds-grid slds-gutters"
                    style="padding-top:20px; padding-left: 6px; padding-right: 6px; vertical-align: bottom"
                >
                    <div class="slds-col slds-size_3-of-4">
                        <lightning-button
                            style="text-align: right"
                            slot="actions"
                            variant="brand"
                            label={label.statusUpdate}
                            title={label.statusUpdate}
                            onclick={updateStatus}
                            disabled={disableAllMassEditButtons}
                            class="slds-m-left_x-small"
                        >
                        </lightning-button>
                        <lightning-button
                            style="text-align: right"
                            slot="actions"
                            variant="brand"
                            label={label.rejectionUpdate}
                            title={label.rejectionUpdate}
                            onclick={updateRejection}
                            disabled={disableAllMassEditButtons}
                            class="slds-m-left_x-small"
                        >
                        </lightning-button>
                        <lightning-button
                            style="text-align: right"
                            slot="actions"
                            variant="brand"
                            label={label.removeFromSelection}
                            title={label.removeFromSelection}
                            onclick={removeFromSelection}
                            disabled={disableAllMassEditButtons}
                            class="slds-m-left_x-small"
                        >
                        </lightning-button>
                    </div>
                    <div
                        class="slds-col slds-size_1-of-4"
                        style="text-align: right"
                    ></div>
                </div>
            </div>
            <div class="slds-col slds-size_3-of-8" style="margin-right: 6px;">
                <c-investors-list-side-panel
                    selected-record-id={selectedRecordId}
                    account-id={accountId}
                ></c-investors-list-side-panel>
            </div>
        </div>
    </lightning-card>
    <c-investors-list-edit-modal> </c-investors-list-edit-modal>
    <c-investors-list-delete-modal oninvestorsdeleted={handleRefreshInvestors}>
    </c-investors-list-delete-modal>
    <c-investors-list-state-modal oninvestorsupdated={handleRefreshInvestors}>
    </c-investors-list-state-modal>
    <c-investors-list-declination-modal
        oninvestorsupdated={handleRefreshInvestors}
    >
    </c-investors-list-declination-modal>
</template>