<template>
    <c-page-template273>  
        <div slot="left">
            <c-property-filter></c-property-filter>
        </div>
        <div slot="center">
            <c-property-tab></c-property-tab>
        </div>
        <div slot="right">
            <c-property-summary></c-property-summary>
        </div>
    </c-page-template273>
</template>