<template>
    <div class="slds-clearfix">
        <div class="slds-float_right">
            <lightning-button
                    label='Reset'
                    title='Reset'
                    onclick={handleReset}>
            </lightning-button>
        </div>
    </div>
    <template if:true={isPropertyObjectLoaded}>
        <c-investor-selection-object-matching
                property-object={propertyObject}
                property-to-acquisition-profile-matching-map={propertyToAcquisitionProfileMatchingMap}>
        </c-investor-selection-object-matching>
    </template>
</template>